
.mainFxmlClass {
-fx-background-color:  rgba(51, 51, 51, 1);
-fx-position: relative;
-fx-width: 1280px;
-fx-height: 720px;
}

.table-view .column-header .label {
        -fx-text-fill: white ;
    }
    .table-view {
        -fx-border-color: #1ba1e2 ;
      
    }
    .lable-empty{
        -fx-text-fill: white ;
        -fx-prompt-text-fill: white ;
    }
    .sup-btn{
        -fx-background-color: red;
        -fx-background-radius: 10px;
    }
    .add-btn{
        -fx-background-color: #1ba1e2;
        -fx-background-radius: 10px;
    }
    .lable-emptyn{
         -fx-font-family: Rockwell;
         -fx-font-weight: bold;
         -fx-text-fill: white ;
    }
    .calc{ 
        -fx-font-family: Poppins;
        -fx-font-style: normal;
        -fx-font-weight: 800;
        -fx-font-size: 24px;
        -fx-text-fill: white ;
    }
    .lable-emptym{
        -fx-prompt-text-fill: #00FF0B ;
    }
    .ren-btn{
            -fx-background-color: #1ba1e2;
        -fx-background-radius: 10px;
    }
    .val-btn{
            -fx-background-color: #00FF0B ;
        -fx-background-radius: 10px;
    }
    .faclab{
        -fx-text-fill: #00FF0B ;
        -fx-border-radius:10px;
        -fx-border-width:2px;
        -fx-border-color: #1BA1E2;
        -fx-text-fill: white ;
        -fx-font-size: 10px;
    }